html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #2b67ac;
}

@keyframes bgcolor {
  0% {
    background-color: #2b67ac;
  }
  30% {
    background-color: #5768b5;
  }
  60% {
    background-color: #7b66b8;
  }
  90% {
    background-color: #9d64b7;
  }
  100% {
    background-color: #bb60b0;
  }
}

body {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.bg-pcBlue {
  height: 60px;
  background-color: none;
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
