.logoPNG img {
  max-width: 250px;
  margin: 20px;
}

.logoPNG {
  text-align: center;
  margin-bottom: auto;
}

.searchField {
  text-align: center;
}

.searchField > input[type="text"] {
  padding: 0.6em;
  border: 0.2em;
  width: 50%;
}

.searchField > button {
  padding: 0.6em 0.8em;
  background-color: #2b67ac;
  color: #ffffff;
  border: none;
  font-weight: 100;
  min-width: 120px;
  margin-top: 10px;
}

.searchField > button:hover {
  cursor: pointer;
}

.searchLoginText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.searchFlightNumText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b67ac
}

.link a {
  color: #2b67ac;
}