.ticket:before,
.ticket:after {
  content: "";
  z-index: -1;
  width: 200px;
  position: absolute;
  bottom: 1px;
  left: 10px;
  top: 80%;
  box-shadow: 0 20px 15px #333;
  transform: rotate(-3deg);
}

.ticket:after {
  left: auto;
  right: 10px;
  transform: rotate(3deg);
}

.ticket {
  background: #b4dfff;
  padding: 1rem 2rem;
  border-radius: 20px;
  position: relative;
  border-top: solid white 20px;
  border-bottom: solid white 20px;
  height: 500px;
}